header {
    background-color: #292b41;
    color: #dfdad8;

    height: 5vh;

    display: flex;
    justify-content: center;
}

header .container {
    background-color: #292b41;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    width: 100%;
}

/* PHOTO AND LOGO WHEN ON DESKETOP OR LARGER SCREENS */
header .photo {
    font-size: 1.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

header .photo img {
    width: 2rem;
}

/* MENU */
header .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

header .nav-bar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header .menu-itens {
    display: flex;

    margin: 0 1rem;
}

header .menu-itens-link {
    text-decoration: none;

    font-size: 1.1rem;

    color: #dfdad8;
}

header .menu-itens-link:hover {
    background-color: #dfdad8;
    color: #292b41;

    border-radius: 0.2rem;

    font-weight: 400;
}

/* SOCIAL MEDIA ICONS */
header .social-media {
    display: flex;
    align-items: center;

    color: #dfdad8;
}

header .social-media-link {
    color: #dfdad8;

    display: flex;
    margin: 0 0.3rem;

    text-decoration: none;

    font-size: 1.6rem;
}

header .social-media-link:hover {
    transform: scale(1.2);
}

/*  MOBILE MENU ICON */
header .mobile-menu-icon {
    display: none;
    align-items: center;

    padding-top: 0.3rem;
}

header .mobile-menu-icon button {
    border: none;

    background-color: transparent;

    cursor: pointer;
}

header .mobile-menu-icon img {
    width: 1rem;
}

/* MOBILE MENU */
header .mobile-menu {
    padding: 5vh;

    background-color: #292b41;
    color: #dfdad8;

    display: none;
    text-align: center;
}
