main {
    background-color: #292b41;
    background-image: url("/images/logo-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    display: flex;
    justify-content: center;
    height: 94vh;

    color: #dfdad8;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGO AND NAME */
main .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .logo img {
    width: 25rem;
}

main .name {
    font-size: 3rem;
    letter-spacing: 0.5rem;

    padding-top: 1rem;
}

main .web-developer {
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
}

/* TEXT */
main .text {
    font-size: 1.2rem;
    padding: 3rem;
    text-align: center;
}

/* DOWNLOAD CV */
main a {
    font-size: 1.3rem;

    text-decoration: none;

    background-color: #dfdad8;
    color: #292b41;

    border-radius: 0.4rem;

    padding: 0 1.5rem;
}

main a:hover {
    transform: scale(1.2);
}
