/* Importing the poppins font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

/* HEADER ------------------------------------------- */

header {
    background-color: #292b41;
    height: 7vh;
}

.headerNavBar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
}

.bold {
    font-weight: 400;
}

/* Photo when on desktop or larger screens */
.headerPhotoName {
    font-size: 1.1rem;
    color: #dfdad8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.headerPhotoName img {
    width: 2rem;
}

.headerPhotoName img:hover {
    transform: scale(1.2);
}

/* Menu when on desktop or larger screens */
.headerMenu {
    display: flex;
    align-items: center;
}

.headerMenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.headerMenuItens {
    margin: 0 1.3rem;
}

.headerMenuItensLink {
    text-decoration: none;
    font-size: 1.15rem;
    color: #dfdad8;
}

.headerMenuItensLink:hover {
    padding: 0.2em;
    background-color: #dfdad8;
    color: #292b41;
    border-radius: 0.2rem;
    font-weight: 400;
}

/* Social media icons */
.headerSocialMedia {
    color: #dfdad8;
    display: flex;
    align-items: center;
}

.headerSocialMedia ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.headerSocialMediaItens {
    margin: 0 0.5rem;
}

.headerSocialMediaItensLink {
    color: #dfdad8;
    text-decoration: none;
    font-size: 1.6rem;
}

.headerSocialMediaItensLink i:hover {
    transform: scale(1.2);
}

/* Mobile menu icon */
.headerMobileMenuIcon {
    padding-top: 0.3rem;
}

/* Mobile menu */
.headerMobileMenuIcon {
    display: none;
}

.headerMobileMenu {
    display: none;
}

.headerMobileMenu ul {
    list-style: none;
}

/* MAIN ------------------------------------------- */

Main {
    background-color: #292b41;
    background-image: url("/images/logo-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    height: 93vh;
}

.mainContainer {
    color: #dfdad8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer a {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #dfdad8;
    color: #292b41;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}

.mainContainer a:hover {
    transform: scale(1.2);
}

.mainLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLogo img {
    object-fit: cover;
    padding-bottom: 0.8rem;
    width: 25rem;
}

.mainLogoMT {
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.mainLogoWebDeveloper {
    letter-spacing: 0.2rem;
}

.mainContainerText {
    font-size: 1.1rem;
    padding: 3rem;
    text-align: center;
}

/* RESPONSIVITY ------------------------------------------- */

@media only screen and (max-width: 1048px) {
    .matorrestech {
        display: none;
    }
    .headerMenuItensLink {
        font-size: 1rem;
    }
    .headerPhotoName {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 881px) {
    /* RERSPONSIVE HEADER ------------------------------------------- */

    .headerNavBar {
        padding: 0.5rem 1rem;
    }

    /* Hiding the logo on mobile */

    .headerPhotoName {
        font-size: 0.9rem;
        color: #dfdad8;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.5rem;
    }

    .headerPhotoName img {
        width: 2rem;
    }

    /* Hiding the menu on mobile */
    .headerMenu {
        display: none;
    }

    /* Showing mobile menu icon. */
    .headerMobileMenuIcon {
        display: flex;
        align-items: center;
    }

    .headerMobileMenuIcon img {
        max-width: 1rem;
    }

    .headerMobileMenuIcon button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    /* Social media icons */
    .headerSocialMediaItens {
        margin: 0 0.15rem;
    }

    .headerSocialMedia p {
        font-size: 0.9rem;
    }

    .headerSocialMediaItensLink {
        font-size: 1.1rem;
    }
    .matorrestech {
        display: none;
    }

    /* Mobile menu */
    .headerMobileMenu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .headerMobileMenu a {
        font-size: 0.9rem;
    }

    .headerMobileMenu .headerMenuItens {
        display: block;
        padding-top: 0.5rem;
    }

    /* Class that is used to open and close the mobile menu. */
    .open {
        display: block;
    }

    /* RERSPONSIVE MAIN ------------------------------------------- */

    .mainContainer {
        padding: 0rem 0.5rem 0.5rem;
    }

    .mainLogo img {
        padding-bottom: 0.5rem;
        width: 10rem;
    }

    .mainLogoMT {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    .mainPhotoWebDeveloper {
        font-size: 0.8rem;
    }

    .mainContainerText {
        font-size: 1rem;
        padding: 2rem 0.5rem;
        text-align: center;
    }

    .mainContainer a {
        text-decoration: none;
        font-size: 1rem;
        background-color: #dfdad8;
        color: #292b41;
        border-radius: 0.5rem;
        padding: 0 1.5rem;
    }
}
